@tailwind base;
@tailwind components;
@tailwind utilities;

select:disabled {
  color: rgb(34 197 94); /* text-green-500 */
}
select {
  text-indent: 25%; /* 사파리는 text-align: center 가 select 에는 적용 안되기에 설정 */
}
